/* ====== GENERAL STYLING ====== */
body {
	margin: 0px;
}

/* ====== HEADING ====== */
header {
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	width: 150px;
	height: auto;
	margin: 40px;
}

#title {
	color: #fff; 
}

/* ====== MAIN CONTENT ====== */
main {
	margin: 60px auto;
	width: 80%;
}

#description {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

#stadium-image {
	width: 60%;
	margin: 20px auto 0px auto;
	display: block;
}

/* ====== SURVEY FORM ====== */

/* Container */
#survey-container {
	background: #d2caca;
	width: 80%;
	margin: 20px auto 0px auto;
	padding: 20px;
}

/* Form */
.form-row {
	display: flex;
	margin-bottom: 20px; 
}

.form-left-side {
	width: 50%;
	text-align: right;
	padding-right: 20px;
}

/* Name Row */
#name, #email, #number {
	width: 250px;
	padding: 5px 10px; 
	font-size: 12px;
}





