/* ====== GENERAL STYLING ====== */
body {
	margin: 0px;
}

/* ====== HEADING ====== */
header {
	background: #000;
	display: flex;
	justify-content: center;
	align-items: center;
}

header img {
	width: 150px;
	height: auto;
	margin: 40px;
}

#title {
	color: #fff; 
}

/* ====== MAIN CONTENT ====== */
main {
	margin: 60px auto;
	width: 80%;
}

#description {
	text-align: center;
	width: 80%;
	margin: 0 auto;
}

#stadium-image {
	width: 70%;
	margin: 20px auto 0px auto;
	display: block;
}
